{% extends "elvanto_subgroups/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
{{form.media}}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post" >
  {% csrf_token %}
  {% bootstrap_form form  %}
  <p>
  {% buttons %}
  <button type="submit" class="btn btn-primary">
   Create 
  </button>
  {% endbuttons %}
</form>
</div>
{% block morejs %}
<script>$(document).ready(function() { $("#id_sub_groups").select2({theme: "bootstrap"}); });</script>
{% endblock %}
{% endblock %}
